---
import MiFoto from "../../assets/img/mifoto.jpeg";
---

<!-- Contenedor principal -->
<div
  class="mx-auto mt-20 flex max-w-6xl flex-col items-center gap-8 px-6 lg:flex-row "
>
  <!-- Imagen -->
  <div
    class="border-primary h-64 w-64 overflow-hidden rounded-2xl shadow-lg md:h-96 md:w-96 drop-shadow-[4px_4px_0_#7836cf]"
  >
    <img
      src={MiFoto.src}
      alt="Foto de Ismael"
      class="h-full w-full object-cover"
    />
  </div>

  <!-- Texto -->
  <div class="flex-1 text-center text-gray-300 lg:text-left">
    <h2 class="text-3xl font-bold text-white">
      Mi nombre es <span class="text-white text-shadow">Ismael</span>
    </h2>
    
    <p class="mt-4">
      Soy un <span class="text-primary font-semibold">Desarrollador de Software Multiplataforma</span> 
      enfocado en crear soluciones eficientes tanto en entornos web como móviles. Actualmente curso 
      <span class="text-primary font-semibold">2º de DAM</span>, lo que me ha permitido dominar la lógica de backend, 
      el diseño de bases de datos y la creación de interfaces de usuario modernas. Trabajo con tecnologías como 
      <span class="text-primary font-semibold">Java, Kotlin, C#, SQL, JavaScript y Astro</span>, integrando siempre 
      buenas prácticas y código escalable.
    </p>

    <p class="mt-2">
      Mi pasión por la programación me lleva a estar en constante evolución. Actualmente, estoy expandiendo mis 
      horizontes explorando <span class="text-primary font-semibold">.NET MAUI</span> para el desarrollo de 
      aplicaciones nativas multiplataforma, buscando aprovechar el potencial de C# para llegar a iOS, Android y Windows 
      con un único código base.
    </p>

    <p class="mt-2">
      Me considero una persona con gran capacidad de <span class="text-primary font-semibold">adaptación</span> y 
      orientada a la resolución de problemas. Mi objetivo es aportar valor en proyectos desafiantes mientras continúo 
      mi <span class="text-primary font-semibold">crecimiento profesional</span> en el sector tecnológico, 
      superándome día a día tanto a nivel técnico como personal.
    </p>
</div>
</div>
